.generic-progress {
  position: inherit;
  height: 40px;
  width: 350px;
  margin: 50px;
  border-radius: 5px;
  border: 5px solid #333;
}

.genericContainer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.textBox{
	-webkit-transform: rotate(90deg); 
  	transform: rotate(90deg);
}